.cv {
  width: 21cm;
  height: 29.7cm;
  background-color: #fff;
}

.header {
  background-color: rgb(25, 49, 65);
  color: #fff;
  padding: 1.5cm;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}

.name {
  font-size: 2rem;
  font-weight: 700;
}

.other-info {
  display: flex;
  gap: 32px;
}

.email,
.phone,
.address {
  display: flex;
  align-items: center;
  gap: 4px;
}

.education-cv,
.experience-cv {
  padding: 2rem 1.5cm 0 1.5cm;
}

.edu-divider,
.exp-divider {
  display: flex;
  justify-content: center;
  gap: 8px;
}

.edu,
.exp {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.edu-right-side,
.exp-right-side {
  justify-self: end;
}

.edu-divider,
.school,
.exp-divider,
.company,
.date {
  font-weight: 700;
}

.description,
.degree,
.location {
  font-style: italic;
  font-size: 0.8rem;
}
