.edit-mode-btns {
  display: flex;
  justify-content: space-evenly;
}

.general-info,
.education,
.experience {
  display: flex;
  flex-direction: column;
  gap: 16px;
  background-color: #f8fafc;
  padding: 16px;
  border-radius: 16px;
  box-shadow: 8px 8px 8px 0px #888888;
  min-width: 300px;
}

.ginfo-edit {
  width: 32px;
  align-self: end;
}

.entry-header {
  display: flex;
  align-items: center;
  gap: 8px;
}

.entry-header > span {
  font-weight: 700;
}

.edu-entries-title,
.exp-entries-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
