@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,400&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 16px;
  font-family: "Roboto", sans-serif;
}

h2 {
  font-size: 1.5rem;
}

.App {
  display: flex;
  flex-direction: column;
  padding: 32px 16px;
  background-color: #e5e7eb;
  gap: 32px;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.logo {
  display: flex;
  align-items: center;
  gap: 16px;
}

.logo,
.logo > span {
  font-size: 3rem;
}

main {
  display: flex;
  justify-content: space-around;
}

.buttons {
  display: flex;
  gap: 8px;
}

.antbtn {
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.download-btn {
  background-color: #22c55e;
}

.download-btn:hover {
  background-color: #4ade80 !important;
}

.edit-section {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.edit-mode-btns {
  display: flex;
  justify-content: space-evenly;
}

.general-info,
.education,
.experience {
  display: flex;
  flex-direction: column;
  gap: 16px;
  background-color: #f8fafc;
  padding: 16px;
  border-radius: 16px;
  box-shadow: 8px 8px 8px 0px #888888;
}

.entry-header {
  display: flex;
  align-items: center;
  gap: 8px;
}

.entry-header > span {
  font-weight: 700;
}

.edu-entries-title,
.exp-entries-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.cv {
  width: 21cm;
  height: 29.7cm;
  background-color: #fff;
  box-shadow: 8px 8px 8px 0px #888888;
}

.header {
  background-color: rgb(25, 49, 65);
  color: #fff;
  padding: 1.5cm;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}

.name {
  font-size: 2rem;
  font-weight: 700;
}

.other-info {
  display: flex;
  gap: 32px;
}

.email,
.phone,
.address {
  display: flex;
  align-items: center;
  gap: 4px;
}

.education-cv,
.experience-cv {
  padding: 2rem 1.5cm 0 1.5cm;
}

.edu-divider,
.exp-divider {
  display: flex;
  justify-content: center;
  gap: 8px;
}

.edu,
.exp {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.edu-right-side,
.exp-right-side {
  justify-self: end;
}

.edu-divider,
.school,
.exp-divider,
.company,
.date {
  font-weight: 700;
}

.description,
.degree,
.location {
  font-style: italic;
  font-size: 0.8rem;
}
