@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 16px;
  font-family: "Roboto", sans-serif;
}

h2 {
  font-size: 1.5rem;
}

.App {
  display: flex;
  flex-direction: column;
  padding: 32px 16px;
  background-color: #e5e7eb;
  gap: 32px;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.logo {
  display: flex;
  align-items: center;
  gap: 16px;
}

.logo, .logo > span {
  font-size: 3rem;
}

main {
  display: flex;
  justify-content: space-around;
}

.buttons {
  display: flex;
  gap: 8px;
}

.ant-btn {
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.download-btn {
  background-color: #22c55e;
}

.edit-section {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.edit-mode-btns {
  display: flex;
  justify-content: space-evenly;
}

.general-info,
.education,
.experience {
  display: flex;
  flex-direction: column;
  gap: 8px;
  background-color: #f8fafc;
  padding: 16px;
  border-radius: 16px;
  box-shadow: 8px 8px 8px 0px #888888;
}

.cv {
  width: 21cm;
  height: 29.7cm;
  border: 1px solid black;
}
